@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    /* Palette */
    --primary-yellow-solid: #fdd306;
    --primary-yellow-900: rgba(253, 211, 6, 0.9);
    --primary-yellow-500: rgba(253, 211, 6, 0.5);
    --primary-yellow-300: rgba(253, 211, 6, 0.3);

    --primary-blue-solid: #0693e3;
    --primary-blue-900: rgba(6, 147, 227, 0.9);
    --primary-blue-500: rgba(6, 147, 227, 0.5);
    --primary-blue-300: rgba(6, 147, 227, 0.3);

    --secondary-orange-solid: #f39c12;
    --secondary-orange-900: rgba(243, 156, 18, 0.9);
    --secondary-orange-500: rgba(243, 156, 18, 0.5);
    --secondary-orange-300: rgba(243, 156, 18, 0.3);

    --secondary-magenta-solid: #e15bba;
    --secondary-magenta-900: rgba(225, 91, 186, 0.9);
    --secondary-magenta-500: rgba(225, 91, 186, 0.5);
    --secondary-magenta-300: rgba(225, 91, 186, 0.3);


    --dark-solid: #1F1F1F;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid: #34485e;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /* Typography */
    --base-font: 'Quicksand', sans-serif;


    /*Font Size*/

    /*Titulares*/
    --font-display: 2.3em;
    /*h1*/
    --font-large: 2em;
    /*h2*/
    --font-medium: 1.7em;
    /*h3*/
    --font-regular: 1.4em;
    /*h4*/

    /*Cuerpo*/
    --font-small: 1.5em;
    /*p Bajada de titulares*/
    --font-xsmall: 1.2em;
    /*p Textos lectura*/

}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--dark-bg-solid);
}

/*Header*/

.navbar {
    background-color: var(--primary-yellow-solid);
}

.logo_nav {
    margin-left: 15px;
}

.navbar_ img {
    width: 55%;
    height: auto;
}

/*Home Titulos*/

main{
    width: 100%;
    height: 100vh;
}

#titulos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 12rem;
}

.div-izquierdo, h1{
   color: var(--light-font-solid);
   font-size: 5em;
}

.div-derecho, h3{
    color: var(--light-font-solid);
    font-size: 3em;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    
}

.boton-encuesta button {
    background-color: var(--primary-yellow-solid);
    height: 5rem;
    font-size: var(--font-medium);
    font-weight: 700;
}

/*Footer*/
.link span {
    text-decoration: #FAFAFF underline;
    font-weight: bold;
    font-size: var(--font-medium);
    color: var(--light-bg-solid);
}
